[user]
	name = haradalibtech
	email = sthsoulful@gmail.com
[alias]
st = status
logg = log --oneline --graph --branches --decorate
l = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(cyan)- %an, %cr%Creset'
ll = log --stat --abbrev-commit
ln = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
ls = log --stat --abbrev-commit -n 1 # display previous log
co = checkout

bl = for-each-ref --sort='committerdate' --format="%(refname:short)" refs/heads/

findloststash = !git fsck --unreachable | grep commit | cut -d' ' -f3 | xargs git log --merges --no-walk --grep=WIP

[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
